.BoardHeader {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    padding-inline-start: var(--space-40);
    padding-block-start: 18px;
    padding-inline-end: 30px;

    background-color: var(--primary-background-color);

    .main-section {
        display: flex;
        justify-content: space-between;
    }

    .tab-bar {
        display: flex;
        padding-block-start: var(--space-8);
        border-block-end: 1px var(--layout-border-color) solid;

        .tab-underline {
            border-block-end: 1.66667px solid var(--primary-color);
            width: max-content;
        }
    }
}