.BoardHeader {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 15;

    border-radius: 12px;
    padding-inline-start: 37px;
    padding-inline-end: 30px;
    padding-block-start: 16px;

    background-color: var(--primary-background-color);

    .main-section {
        display: flex;
        justify-content: space-between;
    }

    .tab-bar {
        display: flex;
        align-items: end;
        height: 40px;

        border-block-end: 1px var(--layout-border-color) solid;

        .clickable {
            padding-bottom: 4px;
        }

        .tab {
            border-block-end: 2px solid transparent;
            transform: translateY(1px);

            &.tab-underline {

                border-block-end: 2px solid var(--primary-color);
                width: max-content;

            }
        }

    }
}