.TaskDetails {
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr;

    .task-details-header {
        padding: 20px 14px 0 20px;
        border-block-end: 1px var(--layout-border-color) solid;

        .task-details-title {
            display: flex;
            align-items: center;

            img {
                height: 24px;
                width: 24px;

                // &:first-child {
                //     margin-inline-end: 7px;
                //     margin-inline-start: -7px;
                // }
            }

            .add-memeber-btn {
                border-radius: 50%;
                margin: 2px;
                height: 13px;
                width: 13px;
                // margin-inline-end: -2px;
            }

            .in-task-persons {
                position: relative;
                display: flex;
                align-items: center;
                padding-inline-start: 10px;
                margin-inline-end: 12px;

                &::after {
                    content: "";
                    position: absolute;
                    height: 18px;
                    width: 1px;
                    // background-color: black;
                    background-color: #efefef;
                    top: 6px;
                    right: 0;
                }

                // & > img {
                //     &:first-of-type {
                //         margin-inline-start: -7px;
                //     }
                // }
            }


            .options-menu-wraper {

                .clickable.icon-btn.size-24::before {
                    font-size: 24px;
                    font-weight: 500;
                }
            }
        }

        .tab-bar {
            display: flex;
            padding-block-start: var(--space-8);
            margin-inline-start: 6px;

            .tab-underline {
                border-block-end: 2px solid var(--primary-color);
                width: max-content;
            }

            .clickable {
                // padding-inline: 14px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    height: 16px;
                    width: 1px;
                    background-color: var(--layout-border-color);
                    top: 6px;
                    right: 0;
                }
            }

        }

    }

    .task-details-tab-content {
        overflow-y: auto;
        height: 100%;
    }
}