.ResizableSidePanel {
    position: fixed;
    bottom: 0;
    height: calc(100% - var(--app-header-size, 0px));
    width: 100%;
    pointer-events: none;
    z-index: 1000;


    &.right {
        right: 0;

        .side-panel {
            transform: translateX(100%);
        }

        .side-panel-resize-handle {
            right: -14px;
            left: auto;

            &[data-resize-handle-state='hover']::before,
            &[data-resize-handle-state='drag']::before {
                transform: translate(-50%, -50%) rotate(0deg); // icon faces left
            }

            &[data-resize-handle-state='drag']::after {
                left: -4px;
                right: auto;
            }
        }

    }

    &.left {
        left: 0;

        .side-panel {
            transform: translateX(-100%);
        }

        .side-panel-resize-handle {
            left: -14px;
            right: auto;

            &[data-resize-handle-state='hover']::before,
            &[data-resize-handle-state='drag']::before {
                transform: translate(-50%, -50%) rotate(180deg); // icon faces right

            }

            &[data-resize-handle-state='drag']::after {
                right: -4px;
                left: auto;
            }

        }

    }

    &.opened {
        .side-panel {
            transform: translateX(0%);
        }
    }

    // panel
    .side-panel {
        background-color: white;
        height: 100%;
        pointer-events: auto;
        box-shadow: var(--box-shadow-small, 0px 4px 8px rgba(0, 0, 0, 0.2));

        transition: transform var(--transition-lg, 250ms) ease-in-out;

    }

    // handle
    .side-panel-resize-handle {
        position: relative;
        z-index: 11;
        width: 14px;
        background-color: transparent;
        opacity: 0;
        transition: var(--transition-lg);

        @include for-mobile {
            display: none;
        }


        &[data-resize-handle-state='hover'],
        &[data-resize-handle-state='drag'] {
            background-color: #F5F6F8;
            position: relative;
            opacity: 1;

            &::before {
                content: '\e94a';
                font-family: mon-i;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: var(--icon-color, #676879);
            }

        }

        &[data-resize-handle-state='drag']::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 4px;
            background-color: var(--primary-color, #0073ea);
            box-shadow: var(--box-shadow-small, 0px 4px 8px rgba(0, 0, 0, 0.2));
        }


    }

}