.TaskDetailsTextEditor {
    margin-block-start: 32px;
    margin-block-end: 16px;
    margin-inline: 16px;
    width: calc(100% - 32px);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--primary-color);
    
    .ProseMirror {
        height: 100px;
        padding-inline: 18px;
        
        &:focus {
            outline: none;
        }
    }

    .tool-bar {
        height: 40px;
        display: flex;
        align-items: center;
        // gap: 18px;
        justify-content: start;
        font-size: 14px;
        margin-inline-start: 1px;
        // width: 100%;

        .icon-btn {
            cursor: pointer;
        }
    }

    .text-editor-footer {
        // height: 50px;
        display: flex;
        color: var(--icon-color);
        justify-content: space-between;
        padding-inline-start: 4px;
        padding-inline-end: 8px;
        padding-block: 8px;
    }
}