.CellContentStatus {
    background-color: #20b5bf;
    position: relative;

    .fold {
        position: absolute;
        top: 0px;
        right: 0px;
        border-width: 0;
        border-style: solid;
        background: #72cbd1;
        border-color: transparent #fff transparent #fff;

        -webkit-transition: border-width 0.2s ease-out;
        -moz-transition: border-width 0.2s ease-out;
        -ms-transition: border-width 0.2s ease-out;
        -o-transition: border-width 0.2s ease-out;
        transition: border-width 0.2s ease-out;
        transition: border-width 0.3s ease-out 0.3s;

    }

    &:hover .fold {
        border-width: 0px 10px 10px 0px;
    }

}