.CellContentFile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 8px;

    &:hover {

        .clear-btn,
        .file-empty-state {
            opacity: 1;
        }

    }

    .clickable-area {
        width: 100%;
        display: flex;
        justify-content: center;

        .img-wraper {
            width: 100%;
            display: flex;
            justify-content: center;

            .img-preview {
                height: 26px;
                object-fit: contain;
                transition: var(--transition-xs);

                &:hover {
                    transform: scale(1.1);
                }
            }

        }
    }

    .clear-btn {
        position: absolute;
        z-index: 40;
        top: 50%;
        right: 9px;
        transform: translateY(-50%);
        width: 18px !important;
        height: 18px;

        background-color: var(--ui-background-color);
        opacity: 0;

        &:hover {
            background-color: var(--ui-border-color);
        }
    }


    .file-empty-state {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;

        height: 100%;
        width: 100%;

        opacity: 0;
        transition: var(--transition-lg);

        .img-uploader {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            label {
                width: 100%;
                height: 100%;
                display: block;
                cursor: pointer;
            }

            .hidden-input {
                display: none;
            }

        }


        .plus-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2px;
            width: 13px;
            height: 13px;
            background-color: var(--primary-color);
            border-radius: var(--border-radius-round);

            color: var(--text-color-on-primary);

            transition: var();

            .plus-icon {
                line-height: 1;
                font-size: 14px;
            }
        }

        .file-icon {
            font-size: 20px;
            color: var(--icon-color);

        }


    }

}