.CellContentDate {
    cursor: text;

    padding-inline: 5px;



    .date-label {}



    .date-empty-state {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;

        height: 26px;
        width: 100%;
        border: 1px solid var(--layout-border-color);
        border-radius: var(--border-radius-sm);

        opacity: 0;
        transition: var(--transition-md);

        &:hover {
            opacity: 1;
        }


        .plus-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2px;
            width: 13px;
            height: 13px;
            background-color: var(--primary-color);
            border-radius: var(--border-radius-round);

            color: var(--text-color-on-primary);

            transition: var();

            .plus-icon {
                line-height: 1;
                font-size: 14px;
            }
        }

        .calendar-icon {
            font-size: 20px;
            color: var(--icon-color);

        }
    }
}