.CellContentStatus {
    position: relative;

    p {
        color: var(--text-color-on-inverted);
    }

    .fold {
        position: absolute;
        top: 0px;
        right: 0px;
        border-width: 0;
        border-style: solid;
        background: rgba(0, 0, 0, 0.1);
        border-color: transparent #fff transparent #fff;

        -webkit-transition: border-width 0.2s ease-out;
        -moz-transition: border-width 0.2s ease-out;
        -ms-transition: border-width 0.2s ease-out;
        -o-transition: border-width 0.2s ease-out;
        transition: border-width 0.2s ease-out;
        transition: border-width 0.3s ease-out 0.3s;

    }

    &:hover .fold {
        border-width: 0px 10px 10px 0px;
    }


    .select-area {
        width: 100%;
        height: 100%;

    }

    .default-color {
        background-color: var(--color-unselected-gray);
    }

    .cell-focused {
        outline: 1px solid #007AFF;
        border-bottom: 1px solid #007AFF;
    }
}