.col-sum-number {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    p:first-child {
        font-size: 14px;
        padding-block-start: 3px;
        color: #323338;
    }

    p:nth-child(2) {
        font-size: 12px;
        color: #676879;

    }
}