.T_ColumnSumCell{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;

   .sum-cell-content{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
   }

}