.app-home-boards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 16px 16px 24px 16px;



  .board-preview {
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
    justify-content: center;
    border: 1px solid rgb(208, 212, 228);

    .board-txt-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #676879;


      .board-txt {
        font-family: var(--font-family);
        font-size: 14px;
        font-weight: 600;
        color: #323338;
        padding-top: 4px;

        flex: 1;
        // white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }

      .favorite-btn {

        .favorite-btn::before {
          content: "\f005";
          font-family: 'fa-solid';
          color: gold;
        }

      }

    }

    .img-wrapper {
      width: 262px;
      height: 140px;

      box-sizing: border-box;
      justify-self: center;
      background-color: #cbddff;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
        align-self: center;


      }


    }
  }
}