.file-modal {
  font-family: var(--title-font-family);
  width: 900px;
  max-width: 80vw;
  height: 700px;
  max-height: 60vw;
  overflow: auto;

  header {
    display: flex;
    font-size: 32px;
    padding-inline-start: 4px;
  }



  .img-conteiner {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: #F6F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 24px;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;

    }
  }



  .close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    justify-self: end;
    background-color: rgba(255, 255, 255);

    &:hover {
      background-color: var(--layout-border-color);
    }
  }
}