.right-nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;

    height: 100%;
    width: 100%;

    border-radius: 8px;
    padding-block-start: 4px;

    border-radius: 8px;



    h2 {
        font-weight: 400;
        font-family: var(--font-family);
    }

    h3 {
        font-size: 14px;
        font-weight: 600;

        font-family: var(--font-family);

    }

    p {
        font-size: 14px;
        font-weight: 300;


    }


    .block {
        display: flex;

        box-shadow: 0px 3px 12px #e6e9ef;
        width: 100%;
        padding: 16px;

        border-radius: 8px;
        background-color: #fff;

        &.main {
            padding: 12px;
            flex-direction: column;
            gap: 16px;

            p {
                font-size: 16px;
            }
        }

        .imgwraper {
            height: 138px;
            width: 100%;
            overflow: hidden;
            border-radius: 8px;

            display: flex;
            align-items: center;
            justify-content: center;

            .full-width-img {
                width: 100%;
            }
        }

        .cube-badge-img {
            width: 48px;
            border-radius: 8px;
        }

        .information-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4px;

            padding-left: 16px;
            white-space: nowrap;
            overflow: hidden;

        }

    }
}