.search-side-nav {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 4px;

    .search-board-input {
        font-family: var(--font-family);
        width: 100%;
        height: 32px;
        padding-left: 32px !important;
        margin-right: 4px;
        border: 1px solid #ccc;
        border-radius: var(--border-radius-sm) !important; 
        color: white;
        font-size: 14px;
    }
    input:placeholder-shown {
        background-color: #f0f0f000; 
      }

    input:not(:placeholder-shown) {
        background-color: #cce5ff;
      }


    .input-icon {
        position: absolute;
        left: 8px;
        font-size: 16px;
        pointer-events: none;
        color: #d0d0d0;
    }


}