.add-board-modal {
    position: relative;

    font-family: var(--title-font-family);
    color: #323338;

    width: 500px;
    padding: 0px 8px 24px;

    .close-btn {
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .title-add-modal {
        font-weight: normal;
        font-size: 32px;
        margin-bottom: 24px;

    }

    form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .input-group {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 4px;

            .title-wraper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 4px;

            }

            .input-title {
                font-size: 16px;
                font-weight: 400;
            }

            input {
                padding: 8px 16px;
                border: 1px solid #c3c6d4;

                border-radius: 4px;
                font-size: 16px;
                font-family: var(--title-font-family);
                outline: none;

                &:focus {
                    border: 1px solid var(--primary-color);
                }
            }

            .ai-textarea {
                min-height: 80px;
                padding: 10px 16px;
                border: 1px solid #c3c6d4;


                border-radius: 4px;
                background-color: #fff;
                font-family: var(--title-font-family);
                font-size: 16px;
                outline: none;

                resize: none;

                &:focus {
                    border: 1px solid var(--primary-color);
                }
            }

        }
    }


    .add-board-btns {
        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        gap: 8px;
    }

    .new-board-encourage {
        margin-top: auto;
        color: rgb(164, 165, 172);
        font-size: 15px;
        font-weight: 400;
        justify-content: end;
        align-self: center;


    }

    .divider {
        height: 1px;
        margin-top: auto;
        margin-block-end: 16px;
        background-color: var(--layout-border-color);


    }

    .ai-btn {
        font-size: 19px;
        margin-top: 16px;
        margin-bottom: 8px;
        background-image: linear-gradient(135deg, #3a0ca3, #7209b7);
        color: var(--text-color-on-inverted);
        transition: color 0.3s ease;

        &:hover {
            color: #ff7bff;
        }
    }



    .closer {

        // margin-top: auto;
    }

}