.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 24px;
    height: 80px;

    background-color: rgb(189, 160, 160);



    .logo-img {
        height: 50px;
    }
    .logo-txt {
        font-size: 30px;
        font-weight: 600;
    }

    .app-nav {
        display: flex;
        gap: 15px;
    }
    
}
