.K_Filter {
    position: sticky;
    top: 92px;
    left: 0px;
    z-index: 14;
    display: flex;
    justify-content: space-between;
    padding-inline-end: 30px;

    .status-sum {
        width: 140px;
        padding-block: 8px;
        height: max-content;
        align-items: center;
        
        .col-sum-status {
            // padding: 0;
            & > *:first-child {
                border-bottom-left-radius: var(--border-radius-sm);
                border-top-left-radius: var(--border-radius-sm);
            }

            & > *:last-child {
                border-bottom-right-radius: var(--border-radius-sm);
                border-top-right-radius: var(--border-radius-sm);
            }
        }
    }

}