.K_StatusPreview {
    width: 260px;
    background-color: var(--grey-background-color);
    border-bottom-left-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
    height: 100%;
    position: relative;
    
    .status-header {
        border-top-left-radius: var(--border-radius-md);
        border-top-right-radius: var(--border-radius-md);
        height: 40px;
        width: inherit;
        padding-inline: 8px;
        display: flex;
        align-items: center;
        color: white;

        .name {
            font-weight: 600;
            padding-inline-end: 4px;
            line-height: 24px;
        }
        
        .amount {
            font-weight: 400;
            padding-inline-start: 4px;
            line-height: 21px;
        }
    }

    .status-body {
        width: max-content;
        padding-inline: 12px;
        height: calc(100% - 40px);
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        
        .tasks {
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        } 
    }
    
    &:hover .add-btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add-btn-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: none;
        background-color: var(--grey-background-color);
        border-bottom-left-radius: var(--border-radius-md);
        border-bottom-right-radius: var(--border-radius-md);

        .add-task-btn {
            width: 236px;
            height: 40px;
            font-size: 1rem;
            margin-block: 12px;
            justify-content: start;
            z-index: 3;
        }
    }
}