.K_TaskPreview {
    width: 236px;
    height: max-content;
    padding: 8px;
    margin-block-start: 12px;
    border: 1px solid var(--layout-border-color);
    border-radius: var(--border-radius-md);
    background-color: var(--primary-background-color);
    overflow-x: hidden;
    
    .divider {
        height: 1px;
        width: 100%;
        margin-block-end: 8px;
        background-color: var(--layout-border-color);
    }

    .task-name {
        margin-block-end: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .CVs {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-block-start: 8px;

        .content {
            font-size: 14px;
            padding-inline: 4px;
            background-color: var(--primary-background-hover-color);
            margin-inline-end: 8px;
            margin-block-end: 8px;
            max-width: 218px;
            height: 24px;
            min-width: 0;
        }
        
        .text, .number {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .EditableText {
                .text-input {
                    padding-inline: 2px;
                    height: 16px;

                }
            }
        }
        
        .status {
            font-size: 14px;
            padding-inline: 4px;
            color: white;
            margin-inline-end: 8px;
            margin-block-end: 8px;
        }
    
    }
    
    .special-content {
        display: flex;
        align-items: center;
        margin-block-start: 8px;

        .file {
        margin-inline-end: 8px;

            img {
                height: 30px;
                box-shadow: var(--box-shadow-large);
                margin: 4px;
            }
        }
    }


}