.group-popup-menu {

    .column-popup-menu {
        justify-content: start;

        .divider {
            display: none;
        }
    }

    .column-popup-menu>* {
        justify-content: start;
    }

    .task-popup-menu {
        display: grid;
        justify-content: start;


    }

    .task-popup-menu>* {
        justify-content: start;
    }

    .group-popup-menu {
        display: grid;
        justify-content: start;

    }

    .group-popup-menu>* {
        justify-content: start;
    }

}