.T_Filter {
    position: sticky;
    top: 92px;
    left: 0px;
    z-index: 14;


    display: flex;
    padding-block: var(--space-16);
    padding-inline-end: 30px;

    background-color: var(--primary-background-color);


    .new-item-btn {
        margin-inline-end: 14px;

        .clickable {
            font-size: 14px;
        }
    }

    .txt-search {
        font-size: 15px;
    }
}