.T_Filter {
    display: flex;
    padding-left: var(--space-40);
    padding-block: var(--space-16);
    padding-inline-end: 30px;

    .new-item-btn {
        margin-inline-end: 14px;
        
        .clickable {
            font-size: 14px;
        }
    }

    .txt-search {
        font-size: 15px;
    }
}