.T_GroupFooter {
    position: relative;
    cursor: text;
    z-index:6;

    &:hover {
        .row-wraper {
            background-color: #F5F6F8;
            box-shadow: 4px 3px 6px -3px var(--ui-border-color);
        }

        .t-left-indicator {
            opacity: 1;
        }
    }

    &:focus-within {
        .row-wraper {
            background-color: var(--primary-selected-color);
        }
    }

    .add-item-container {
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px -8px;

        .text-container {
            padding-inline: 10px;
            display: flex;
            align-items: center;
        }
    }

}