.T_Group {
    width: 100%;
    position: relative;

    display: grid;
    // grid-template-columns: js based - in T_Group
    grid-auto-rows: auto;
    transition: width 0.1s ease;


    &>* {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
    }

    // === table lines ===

    // vertical lines
    .T_GroupHeadRow> :nth-child(n + 4),
    .T_TaskRow> :nth-child(n + 4) {
        border-inline-start: 1px solid var(--layout-border-color);
    }

    .T_GroupHeadRow> :nth-child(2),
    .T_TaskRow> :nth-child(2),
    .T_ColumnSumRow> :nth-child(n + 3) {
        border-inline-end: 1px solid var(--layout-border-color);
    }

    // horizontal lines
    .T_GroupHeadRow> :nth-child(n + 2),
    .T_TaskRow> :nth-child(n + 2),
    .T_GroupFooter> :nth-child(n + 2),
    .T_ColumnSumRow> :nth-child(n + 2) {
        border-block-start: 1px solid var(--layout-border-color);
    }

    .T_ColumnSumRow> :nth-child(n + 3) {
        border-block-end: 1px solid var(--layout-border-color);
    }

    // =================================DND

    // .T_GroupHeadRow> :nth-child(n + 4),
    // .T_GroupHeadRow> :nth-child(2),
    // .T_GroupHeadRow> :nth-child(n + 2),
    // אלה הקווים שרואים וצריך להסיר בזמן גרירת טורים

    // =================================DND
    // last cell expandable
    .T_GroupHeadRow> :last-child,
    .T_TaskRow> :last-child,
    .T_ColumnSumRow> :last-child,
    .T_GroupFooter> :last-child {
        min-width: 68px;
        grid-column: auto / -1;
    }

    // vertical stickyness
    .T_GroupHeader {
        position: sticky;
        top: 156px;
        z-index: 10;
        background-color: var(--primary-background-color);

        @include for-mobile {
            top: 152px;
        }
    }

    .T_GroupHeadRow {
        position: sticky;
        top: 196px;
        z-index: 9;
        background-color: var(--primary-background-color);

        @include for-mobile {
            top: 192px;
        }
    }

    // horizontal stickyness
    .T_GroupHeader>:nth-child(1),
    .T_GroupHeader>:nth-child(2) {
        position: sticky;
        z-index: 5;
    }

    .T_GroupHeader>:nth-child(1),
    .T_TaskRow> :nth-child(1),
    .T_GroupHeadRow> :nth-child(1),
    .T_ColumnSumRow> :nth-child(1),
    .T_GroupFooter> :nth-child(1) {
        position: sticky;
        left: 0px;
        z-index: 5;
    }

    .T_GroupHeader>:nth-child(2),
    .T_TaskRow> :nth-child(2),
    .T_GroupHeadRow> :nth-child(2),
    .T_ColumnSumRow> :nth-child(2),
    .T_GroupFooter> :nth-child(2) {
        position: sticky;
        left: 6px;
        z-index: 5;
        background: var(--primary-background-color);
    }



    .t-left-indicator,
    .indicator-placeholder {
        width: 6px;
        height: 36px;
        flex-shrink: 0;

        &.top {
            border-start-start-radius: var(--border-radius-md);
        }

        &.bottom {
            border-end-start-radius: var(--border-radius-md);
        }

        &.disabled {
            opacity: var(--disabled-component-opacity);
        }

        .menu-container {
            width: 40px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .menu-wraper {
            opacity: 0;
            transition: var(--transition-md);
        }
    }


    .checkbox-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33px;
        height: 100%;
        cursor: pointer;
        border-inline-end: 1px solid var(--layout-border-color);
        flex-shrink: 0;

        @include for-mobile {
            display: none;
        }

        &.disabled {
            pointer-events: none;

            input {
                opacity: var(--disabled-component-opacity);

            }
        }

    }


    .cell-content {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        p {
            font-size: 14px;
        }

        &.centered {
            justify-content: center;
        }
    }

}