.T_GroupFooter {
    position: relative;
    cursor: text;

    &:hover {
        .row-wraper {
            background-color: #F5F6F8;
            box-shadow: 4px 3px 6px -3px var(--ui-border-color);
        }

        .t-left-indicator {
            opacity: 1;
        }
    }

    &:focus-within {
        .row-wraper {
            background-color: var(--primary-selected-color);
        }
    }

    .add-item-container {
        display: flex;

        .text-container {
            padding-inline: 10px;
        }
    }

}