.T_GroupHeader {
    position: relative;
    align-items: center;

    height: 40px;

    .title-container {
        display: flex;
        align-items: center;
        width: 100%;

        .title-container {
            display: flex;
            align-items: center;
            width: 60vw;
            min-width: 500px;
            padding-block-end: 6px;
            cursor: grab;


            .collapse-button-wraper {
                padding-block-start: 4px;
                margin-inline-start: 4px;
                margin-inline-end: 2px;

                .collapse-button {
                    display: flex;
                    align-items: center;

                    cursor: pointer;
                    height: 30px;
                    width: 22px;

                    font-size: 22px;

                }
            }


            .title-wraper {
                max-width: 50vw;
            }


            .items-count {
                opacity: 0;
                white-space: nowrap;

                margin-inline-start: var(--space-4);

                font-size: 14px;
                color: var(--secondary-text-color);

                transition: var(--transition-md);
            }


            &:focus-within {
                .items-count {
                    display: none;
                }

                .title-wraper {
                    width: 50vw;
                }

            }

            &:hover {
                .items-count {
                    opacity: 1;
                }

            }
        }
    }


    &:hover,
    &.menu-in-focus {
        .menu-container{
            .menu-wraper {
                opacity: 1;
            }
        }

    }


}