.T_GroupHeadRow {

    &.sticked {
        box-shadow: var(--box-shadow-small);
        border-block-end: 2px solid var(--layout-border-color);
    }

    .add-column-btn-container {
        display: flex;
        align-items: center;

        .add-column-btn {
            margin-inline-start: 10px;

            &::before {
                font-size: 19px !important;
            }

        }
    }
}

.gorup-head-row-sentinal{
    height: 0;
}