.TaskDetailsActivityLog {
    overflow: hidden;
    padding-inline: 25px;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;

    >* {
        grid-column: 1/-1;
    }

    p {
        font-size: 14px;
    }

    .ActivityLogRow {
        display: grid;
        grid-template-columns: subgrid;

        .move-task-wraper {
            grid-column: 1/-1;
            display: grid;
            grid-template-columns: subgrid;

            .move-task {
                grid-column: 1/-1;
                display: grid;
                grid-template-columns: subgrid;
            }

        }

        .activity-row-section {
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: start;
            padding-block: 8px;

            width: 100%;
            border-bottom: 1px solid var(--layout-border-color);
            display: flex;
            align-items: center;
            justify-content: start;
            height: 56px;


            &.basic-details {
                display: grid;
                grid-template-columns: 72px 36px minmax(140px, 1fr);

                .profile-img-wrapper {
                    margin-inline: 0 6px;
                    
                    img {
                        height: 30px;
                        width: 30px;
                        object-fit: cover;
    
                    }
                }

                .time {
                    padding-inline-start: 16px;
                    margin-inline-start: 16px;
                    position: relative;

                    &::before {
                        content: "\e9f2";
                        font-family: mon-i;
                        font-size: 16px;
                        color: var(--icon-color);
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        pointer-events: none;
                    }
                }

                .task-name {
                    min-width: 140px;
                    margin-inline-end: 16px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                }
            }


            &.action-title {
                margin-inline-end: 16px;

                .action-name {
                    padding-inline: 20px 2px;
                    min-width: 76px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    position: relative;

                    &::before {
                        font-family: mon-i;
                        font-size: 16px;
                        color: var(--icon-color);
                        position: absolute;
                        left: 0;
                        top: 45%;
                        transform: translateY(-50%);
                        pointer-events: none;
                    }

                    &.moved {
                        &::before {
                            content: "\e9a2";
                        }
                    }

                    &.created {
                        &::before {
                            content: "\e900";
                        }
                    }

                    &.deleted {
                        &::before {
                            content: "\e93e";
                        }
                    }

                    &.Files {
                        &::before {
                            content: "\e95f";
                        }
                    }

                    &.Date {
                        &::before {
                            content: "\e91e";
                        }
                    }

                    &.Status {
                        &::before {
                            content: "\e9dd";
                        }
                    }

                    &.Peoples {
                        &::before {
                            content: "\e9e6";
                        }
                    }

                    &.Task {
                        &::before {
                            content: "\e9eb";
                        }
                    }

                    &.Number {
                        &::before {
                            content: "\e9b2";
                        }
                    }

                    &.Text {
                        &::before {
                            content: "\e9eb";
                        }
                    }
                }
            }

            &.change-details {
                display: grid;
                grid-template-columns: 1fr auto 1fr;
                gap: 4px;
                align-items: center;
                justify-content: center;

                .change-arrow {
                    position: relative;
                    width: 16px;
                    height: 16px;

                    &::before {
                        content: "\e9a9";
                        position: absolute;
                        font-family: mon-i;
                        font-size: 16px;
                        color: var(--color-unselected-gray);
                    }
                }


                img.to-value {
                    height: 24px;
                    width: auto;
                    object-fit: contain;

                }

                .prev-value,
                .to-value {
                    height: 39px;
                    min-width: 61px;
                    width: 100%;
                    padding-inline: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 2px;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;


                }


                &.i-NavigationChevronRight::before {
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .unselected-gray {
                    background-color: var(--color-unselected-gray);
                }

                .regular-action {
                    grid-column: 1/-1;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 16px;

                    &.people-change-details {
                        img {
                            height: 24px;
                        }
                    }
                }
            }
        }

    }
}