.T_ColumnHeaderCell.is-drag-over {
    outline: 1px dashed var(--layout-border-color) ;
    outline-offset: -1.3px;
    background-color: #f5f5f5;
    transition: 0.2s ease;
  }
  .column-header-cell {
    padding: 150px; // פה זה הטווח שהוא קולט את האחד מתחתיו, ככל שיותר גדול ככה הוא יעביר את הקוקו יותר ברגישות
    transition: background-color 0.1s ease;
  }