.T_ColumnHeaderCell {
    position: relative;
    padding-inline: 5px;

    &.item-column {
        padding-inline-start: 0px;
    }

    &:hover:not(:focus-within) .menu-btn-wraper {
        display: block;
    }

    .menu-btn-wraper {
        order: 2;
        position: absolute;
        right: 8px;
        display: none;

        .menu-btn::before {
            font-size: 17px;
        }
    }

    .title-wraper {
        order: 1;
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}