.T_GroupsList {
    display: flex;
    flex-direction: column;

        gap: 28px;
        padding-block-end: 40px;

        .add-group-btn {
            position: sticky;
            left: 40px;
            z-index: 10;
            flex-shrink: 0;

        }
    

}