.LandPageHeader {
    position: sticky;
    top: 0px;
    z-index: 20;


    display: grid;
    grid-template-columns: 1fr minmax(auto, 1440px) 1fr;
    height: 72px;

    background-color: white;

    transition: 0.2s;

    &.sticked {
        box-shadow: 0px 4px 8px rgba(195, 198, 212, 0.5)
    }

    .header-content {
        grid-column: 2;

        display: flex;
        align-items: center;
        justify-content: space-between;

        max-width: 1440px;
        padding-inline: 32px;

        .land-page-nav {
            display: flex;
            align-items: center;

            a, button {
                padding: 8px 10px;
                border-radius: var(--border-radius-md);
                font-family: var(--title-font-family);
                font-size: 14px;
                font-weight: 300;
                color: #535768;
                cursor: pointer;

                &:hover {
                    background-color: #F0F3FF;
                    color: #5034FF;
                }
            }

            .get-started-btn{
                margin-inline-start: 16px;
            }
        }
    }

}