// ===========================
// ========== base ==========
// ===========================

.clickable {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: max-content;

    border-radius: var(--border-radius-sm);
    font-weight: 400;

    user-select: none;
    cursor: pointer;

    transition: scale var(--transition-xs);

    // ===========================
    // ====== click effect =======
    // ===========================
    &:active:not(.select):not(.disabled) {
        scale: 0.95;
    }

    // ===========================
    // ====== type variants ======
    // ===========================
    &.clear {
        background-color: rgba(0, 0, 0, 0);
        color: var(--primary-text-color);

        &:hover {
            background-color: var(--primary-background-hover-color);
        }

        &.active {
            background-color: var(--primary-selected-color);
        }
    }

    &.filled {
        background-color: var(--primary-color);
        color: var(--text-color-on-inverted);

        &:hover,
        &.active {
            background-color: var(--primary-hover-color);
        }

        &.positive {
            background-color: var(--positive-color);

            &:hover {
                background-color: var(--positive-color-hover);
            }
        }

        &.negative {
            background-color: var(--negative-color);

            &:hover {
                background-color: var(--negative-color-hover);
            }
        }
    }

    // ===========================
    // ====== size variants ======
    // ===========================
    &.size-24 {
        height: 24px;
        font-size: 18px;
    }

    &.size-32 {
        height: 32px;
        font-size: 14px;
        padding-inline: var(--space-8);
    }

    &.size-40 {
        height: 40px;
        font-size: 16px;
        padding-inline: var(--space-16);
    }

    &.size-48 {
        height: 48px;
        font-size: 16px;
        padding-inline: var(--space-24);
    }

    &.size-32::before,
    &.size-40::before,
    &.size-48::before {
        font-size: 18px;
    }

    // ===========================
    // == text + icon variants ===
    // ===========================
    &.icon-start {
        flex-direction: row;
        font-family: inherit !important;

        &::before {
            font-family: mon-i;
            margin-inline-end: var(--space-8);
        }
    }

    &.icon-end {
        flex-direction: row-reverse;
        font-family: inherit !important;

        &::before {
            font-family: mon-i;
            margin-inline-start: var(--space-8);
        }
    }

    // ===========================
    // ======= icon buttons ======
    // ===========================
    &.icon-btn {
        &.size-24 {
            width: 24px;

            &::before {
                font-size: 16px;
            }
        }

        &.size-32 {
            width: 32px;
        }

        &.size-40 {
            width: 40px;
        }

        &.icon-big.size-40::before {
            font-size: 20px;
        }

        &::before {
            font-family: mon-i;
        }
    }

    // ===========================
    // ======= states & utils ====
    // ===========================
    &.disabled {
        pointer-events: none;
        cursor: default;
        opacity: var(--disabled-component-opacity);
    }

    &.full-width {
        width: 100%;
    }

    &.loading {
        color: transparent;

        >* {
            visibility: hidden;
        }

        &::before,
        &::after {
            color: transparent;
            border: none;
        }

        &.clear::after {
            border: 2px solid var(--primary-text-color);
        }

        &.filled::after {
            border: 2px solid var(--text-color-on-inverted);
        }

        &.size-32::after {
            width: 16px;
        }

        &.size-40::after {
            width: 20px;
        }

        &.size-48::after {
            width: 24px;
        }

        &::after {
            content: '';
            position: absolute;
            aspect-ratio: 1;
            border-radius: 50%;
            animation:
                l20-1 0.7s infinite linear alternate,
                l20-2 1.4s infinite linear;
        }
    }

    // ===========================
    // ===== land page button ====
    // ===========================

    &.land-page {
        font-family: Poppins, Roboto, Helvetica, Arial, sans-serif !important;

        &.primary {
            border-radius: var(--border-radius-round);
            font-weight: 300;
            transition: var(--transition-lg);


            &.full {
                background-color: #6161FF;
                color: white;

                &:hover {
                    background-color: #5151d5;

                    &.size-40 {
                        &::before {
                            transform: translateX(3px);
                        }
                    }

                    &.size-48 {
                        &::before {
                            transform: translateX(6px);
                        }
                    }
                }
            }

            &.size-40 {
                height: 40px;
                padding-inline: 16px;

                font-size: 13px;

            }

            &.size-49 {
                height: 49px;
                padding-inline: 34px;
                font-size: 16px;
            }

            &.icon-end {
                flex-direction: row-reverse;
                font-family: Poppins, Roboto, Helvetica, Arial, sans-serif !important;
                padding-inline-end: 26px;

                &.size-40 {
                    padding-inline-end: 14px;
                }

                &::before {
                    font-family: mon-i;
                    margin-inline-start: var(--space-8);
                    transition: var(--transition-xl) ease-out;
                }
            }
        }

    }

}

// ===========================
// ===== split-button ========
// ===========================

.split-button {
    display: flex;

    .btn-left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .seperator {
        display: inline-block;
        width: 1px;
    }

    .btn-right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 29px;
    }

    &.filled .seperator {
        background-color: var(--primary-hover-color);
    }

    &.clear .seperator {
        background-color: rgba(0, 0, 0, 0);
    }

    &.size-32 {
        height: 32px;

        .btn-left,
        .btn-right {
            height: 32px;
        }

        .btn-left {
            padding-inline: var(--space-8);
        }
    }

    &.size-40 {
        height: 40px;

        .btn-left,
        .btn-right {
            height: 40px;
        }

        .btn-left {
            padding-inline: var(--space-16);
        }
    }

    &.size-48 {
        height: 48px;

        .btn-left,
        .btn-right {
            height: 48px;
        }

        .btn-left {
            padding-inline: var(--space-24);
        }
    }

}





// ===========================
// ===== loader keyframes ====
// ===========================

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg);
    }

    49.99% {
        transform: scaleY(1) rotate(135deg);
    }

    50% {
        transform: scaleY(-1) rotate(0deg);
    }

    100% {
        transform: scaleY(-1) rotate(-135deg);
    }
}