.color-picker-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 6px;

  width: fit-content;
  width: 150px;
  margin: auto;
  border-radius: 8px;


  .color-picker-item {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
   
 
    
    .color-picker-item::after{
  z-index: 0;

}
  }

  .square {
    border-radius: 4px;
    color: white;
  }

  .circle {
    border-radius: var(--border-radius-round);

  }
}