.edit-status-picker {
    position: relative;


    .edit-status-item {}

    .input-wrapper {
        display: flex;
        align-items: center;
        // gap:4px;
        margin: 4px;


    }

    .color-btn-icon {
        position: absolute;
        left: 6px;
        top: 4px;
        // bottom: px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;

        height: 24px;
        width: 24px;
        border-radius: 4px;
        color: white;

    }

    .add-btn {
        border: 1px solid #c4c4c4;

    }

    .add-label,.status-picker-items,.edit-status-picker,.edit-status-item  {

        display: grid;
// height:264px;
// width: 300px;

        input[type="text"]  {
            height: 32px;
            width: 152px;
        }

    }
    .add-label{
        // height:264px;
    }

    input[type="text"] {
        background-color: #f0f0f000;
        width: 100%;
        padding: 6px;
        padding-inline-start: 4px;
        border: 1px solid #c4c4c4;
        border-radius: 6px;
        font-size: 14px;
        color: #333;
        transition: border-color 0.2s, box-shadow 0.2s;
        // padding-left: 34px;
        // height: 32px;
        border-radius: 4px;

        &:focus {
            outline: none;
            border-color: #0073ea;
        }
    }



}