.status-picker-example {
    display: block;
    position: relative;
    height: 56px;
    width: 300px;
    background-color: #00c875;
    overflow: hidden;
}

.bubbles-animation {

    .bubbles {
        position: absolute;
        width: 100%;
        height: 120%;
        z-index: 0;
        overflow: hidden;
        bottom: -20%;
        left: 0;

        .bubble {
            position: absolute;
            border-radius: 50%;
            animation: rise 1.5s ease-in forwards;
            opacity: 0;
            bottom: -3%;

        }

        .capsule {
            position: absolute;
            width: 8px;
            height: 16px;
            bottom: -3%;

            border-radius: 999px;
            z-index: 1;
            animation:
                riseCapsule 2s ease-in 0s forwards,
                spinCapsule 2s linear 0s forwards;
            // opacity: 0;



        }

    }

}

@keyframes rise {
    0% {
        opacity: 0;

        // bottom: 0;
        transform: translateX(0) scale(1) rotate(0deg);

    }

    10% {
        opacity: 1;
        bottom: 15%;
    }

    30% {
        transform: translateX(10px) scale(1.2) rotate(45deg);
        opacity: 1;
    }

    60% {
        transform: translateX(-20px) scale(0.9) rotate(-30deg);
        opacity: 1;
    }

    100% {
        bottom: 130%;
        transform: translateX(10px) scale(1) rotate(360deg);
        opacity: 1;
    }
}

@keyframes riseCapsule {
    0% {
        opacity: 1;

        // bottom: 0;
        transform: translateX(0px);
    }

    10% {
        opacity: 1;
        bottom: 15%;

    }

    50% {
        transform: translateX(10px);
        opacity: 1;
    }

    100% {
        bottom: 130%;
        transform: translateX(-20px);
        opacity: 1;

    }
}

@keyframes spinCapsule {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;

    }
}




.confettie-animation {
    .conffeties {
        position: absolute;
        width: 100%;
        height: calc(100% + 10px);
        z-index: 0;
        overflow: hidden;
        top: -10px;
        left: 0;

        .confetti {
            position: absolute;
            top: -10%;
            left: 0;
            border-radius: 50%;
            z-index: 1;
            animation: confetti 2s ease-in forwards;
        }

        .capsule {
            position: absolute;
            top: -10px;
            width: 8px;
            height: 16px;
            border-radius: 999px;
            z-index: 1;
            animation:
                confetti 2s ease-in forwards,
                spinCapsule 2s ease-in forwards;
        }

    }

}

@keyframes confetti {
    100% {
        top: 100%;
    }
}

.stars-animation {
    .stars {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: hidden;
        top: 0;
        left: 0;

        .star {
            position: absolute;
            top: 40%;
            left: 0;
            border-radius: 50%;
            animation: spiral 3s linear forwards;
            opacity: 0;

        }

        .capsule {
            position: absolute;
            top: 40%;
            bottom: 0px;
            width: 5px;
            height: 10px;
            border-radius: 999px;
            background: linear-gradient(to right, #fff);
            animation: spiral 4s linear forwards;
            opacity: 0;

        }

    }
}


@keyframes spiral {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    12% {
opacity: 0;
    }

    50% {
        bottom: 25%;
        transform: rotate(360deg) translateX(calc(var(--distance) * 0.5));
          opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        bottom: 100%;
        transform: rotate(720deg) translateX(var(--distance));
        opacity: 0;
    }
}

@keyframes spiralMove {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg) translateX(var(--distance));
    }
}

@keyframes spiralFade {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes riseCapsule {
    0% {
        bottom: -50px;
        transform: translateX(0px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        bottom: 100%;
        transform: translateX(-20px);
    }
}

@keyframes spinCapsule {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}