.PersonsPicker {
    width: 344px;
    padding: 16px;
    height: 100%;
    max-height: 344px;

    .person-select-btn {
        font-size: 0.875rem;
        width: 320px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-inline: 8px;

        span {
            padding-inline: 8px;
        }

        img{
            height: 1.904em;
            width: 1.904em;
        }
    }

    .selected-persons {
        display: flex;
        flex-wrap: wrap;

        .selected-person {
            display: flex;
            align-items: center;
            margin: 4px;
            // height: 1.375em;
            height: max-content;
            width: max-content;
            border-radius: 999px;
            // font-size: 0.75rem;
            background-color: var(--pulse-background-color);

            .remove-person-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                height: 16px;
                width: 16px;
                margin-inline-start: 4px;
                margin-inline-end: 2px;
                cursor: pointer;

                &:hover {
                    background-color: white;
                }
            }

            .profile-img-wrapper {
                margin-inline-end: 4px;

                img{
                    height: 1.833em;
                    width: 1.833em;
                }
            }
        }
    }

    .persons-list {
        width: 100%;
        height: 100%;
        max-height: 272px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .divider {
        width: 100%;
        height: 1px;
        margin-block: 8px;
        background-color: var(--layout-border-color);
    }
}